USE [master]
GO
/****** Object:  Database [Projet_NET_GROUP_ALAK]    Script Date: 04/12/2018 09:17:30 ******/
CREATE DATABASE [Projet_NET_GROUP_ALAK]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projet_NET_GROUP_ALAK', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Projet_NET_GROUP_ALAK.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Projet_NET_GROUP_ALAK_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Projet_NET_GROUP_ALAK_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projet_NET_GROUP_ALAK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projet_NET_GROUP_ALAK]
GO
/****** Object:  Table [dbo].[Ingredient]    Script Date: 04/12/2018 09:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingredient](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Id_Type] [int] NOT NULL,
 CONSTRAINT [prk_constraint_Ingredient] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 04/12/2018 09:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Number_people] [int] NOT NULL,
	[Prepation_time] [int] NULL,
	[Baking_time] [int] NULL,
	[Rest_time] [int] NULL,
	[Availability] [bit] NOT NULL,
 CONSTRAINT [prk_constraint_Recipe] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__Recipe__2CB664DCD1A36E16] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecipeLine]    Script Date: 04/12/2018 09:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecipeLine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Description] [text] NULL,
	[Order_line] [int] NOT NULL,
	[Id_Recipe] [int] NOT NULL,
	[Id_Ingredient] [int] NOT NULL,
	[Id_Ustensil] [int] NOT NULL,
 CONSTRAINT [prk_constraint_RecipeLine] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stock]    Script Date: 04/12/2018 09:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stock](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date_delivery] [datetime] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Id_Ingredient] [int] NOT NULL,
 CONSTRAINT [prk_constraint_Stock] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 04/12/2018 09:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](255) NOT NULL,
	[Lapsing_time] [int] NULL,
 CONSTRAINT [prk_constraint_Type] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ustensil]    Script Date: 04/12/2018 09:17:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ustensil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [prk_constraint_Ustensil] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingredient]  WITH CHECK ADD  CONSTRAINT [FK_Ingredient_Id_Type] FOREIGN KEY([Id_Type])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Ingredient] CHECK CONSTRAINT [FK_Ingredient_Id_Type]
GO
ALTER TABLE [dbo].[RecipeLine]  WITH CHECK ADD  CONSTRAINT [FK_RecipeLine_Id_Ingredient] FOREIGN KEY([Id_Ingredient])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[RecipeLine] CHECK CONSTRAINT [FK_RecipeLine_Id_Ingredient]
GO
ALTER TABLE [dbo].[RecipeLine]  WITH CHECK ADD  CONSTRAINT [FK_RecipeLine_Id_Recipe] FOREIGN KEY([Id_Recipe])
REFERENCES [dbo].[Recipe] ([Id])
GO
ALTER TABLE [dbo].[RecipeLine] CHECK CONSTRAINT [FK_RecipeLine_Id_Recipe]
GO
ALTER TABLE [dbo].[RecipeLine]  WITH CHECK ADD  CONSTRAINT [FK_RecipeLine_Id_Ustensil] FOREIGN KEY([Id_Ustensil])
REFERENCES [dbo].[Ustensil] ([Id])
GO
ALTER TABLE [dbo].[RecipeLine] CHECK CONSTRAINT [FK_RecipeLine_Id_Ustensil]
GO
ALTER TABLE [dbo].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Id_Ingredient] FOREIGN KEY([Id_Ingredient])
REFERENCES [dbo].[Ingredient] ([Id])
GO
ALTER TABLE [dbo].[Stock] CHECK CONSTRAINT [FK_Stock_Id_Ingredient]
GO
USE [master]
GO